.ipynb_checkpoints
.idea
*.txt
*.pyc
*.pkl
*.model
agg_data/test/*
agg_data/train/*
raw_data/test/*
raw_data/train/*
processed_data/train/sentence_matrices/*
processed_data/train/labels_matrices/*
processed_data/test/sentence_matrices/*
processed_data/test/labels_matrices/*
glove.6B/*
!.keep
!labels.pkl
